.update-videos{
    width: 367px;
    height: 262px;
    margin-right: 30px;
    margin-bottom: 30px;
};
.update-videos-content{
    max-width: 367px;
    height: 200px;
    margin: 0;
    display: flex;
    align-items: flex-start;
};
.update-videos-imgMain{
    img{
        width: 100%;
    };
};

.update-videos-btns{
    margin-left: 20px;
    .update-videos-btns-open{
        margin-bottom: 30px;
    };
    .update-videos-btns-open, .update-videos-btns-close{
        cursor: pointer;
    };
};

.update-videos-title{
    width: 320px;
    font-family: Assistant;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color : #ffffff;
    p{
        margin : 10px 0 0 0;
    };
};

.mobile-version{
    display: none;
};

/* media 768 px */

@media (max-width: 768px) {
    .update-videos{
        position: relative;
        max-width: 256px;
        flex-wrap: wrap;
        .update-videos-content{
            max-width: 339px;
        }
        .update-videos-btns{
            margin-left: 0;
            position: absolute;
            right: -47px;
            bottom: -3px;
            display: flex;
            padding: 10px 20px;
            background: #3C3C3C;
            border-radius: 10px;
            flex-direction: row-reverse;
            opacity: 0;
            .update-videos-btns-open{
                margin-bottom: 0;
                margin-left: 20px;
            };
        };
        .open{
            margin-left: 0;
            position: absolute;
            right: -47px;
            bottom: -3px;
            display: flex;
            padding: 10px 20px;
            background: #3C3C3C;
            border-radius: 10px;
            flex-direction: row-reverse;
            opacity : 1;
            .update-videos-btns-open{
                margin-bottom: 0;
                margin-left: 20px;
            };
        };
        .mobile-version{
            display: block;
            position: absolute;
            bottom: 8px;
            right: -60px;
        };
    };
};