.login{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
.logo{
    width: 180px;
    height: 78px;
    border-radius: 10px;
    margin-bottom: 81px;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
.container{
      padding: 50px;
      align-items: center;
      width: 1422px;
      height: 390px;
      background: #121212;
      border-radius: 15px;
      position: relative;
      z-index: 1;

}
.updateContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.updateContent{
    width: 315px;
    margin-right: 50px;
    padding: 0;
    height: 200px;
    border: 1px solid red;
}
.updateEditor{
    width: 1181px;
    height: 200px;
}


button{
    float: right;
    width: 134px;
    height: 40px;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
    background: #FF9800;
    border-radius: 10px;
    border:none;
    overflow: hidden;
    outline: none;
}

.plusImg{
    display: block;
    margin: 0 auto;
    transform: translateY(150%);
    cursor: pointer;
}