.delete-videos{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  .cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .container{
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    width: 418px;
    background: #121212;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    p{
      font-family: Assistant;
      font-size: 25px;
      font-weight: 600;
      line-height: 33px;
      letter-spacing: 0em;
      text-align: left;
      color: #ffffff;
      margin-bottom: 50px;

    }
    .delete-videos-btns{
      display: flex;

      button{
        display: flex;
        width: 134px;
        height: 40px;
        justify-content: center;
        align-items: center;
        font-family: Montserrat,sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        text-transform: capitalize;
        color: #FFFFFF;
        cursor: pointer;
        background: #FF9800;
        border-radius: 5px;
        border:none;
        line-height: 26.16px;
        overflow: hidden;
        outline: none;
      }
      .delete-videos-no{
        margin-left: 50px;
        border: 1px solid #FF9800;
        background: none;
      }
    }
    
  }
}